@import "./utilities/extends";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";


* {
  font-family: "Delius", cursive !important;
}

.background-body{
 /* background-color: rgba(2, 0, 36, 1);*/
  background: #00D4FF;
background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(2, 0, 36, 1) 100%);
}
.imagenbody{
  width: 100%;
  height: 30rem;
}